<% include ../partials/header %> 



 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Car Shows Page!</h1>
             <p>View our hand-picked Carshows from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/Carshows/new">Add New Carshow</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% Carshows.forEach(function(Carshow){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= Carshow.image %>">
                   <div class="caption">
                       <h4><%= Carshow.name %></h4>
                   </div>
                   <p>
                       <a href="/Carshows/<%= Carshow._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
