<% include ../partials/header %> 
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> 
        <link rel="stylesheet" href="/stylesheets/landing.css">
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Car Shows Page!</h1>
            <p>View high end cars from all over the world</p>
        </div>
        <div class="col-md-4 text-center"> 
            <a class="btn btn-primary btn-large center-block" href="/Carshows/new">Add New Carshow</a>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% Carshows.forEach(function(Carshow){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= Carshow.image %>">
                    <div class="caption">
                       <h4><%= Carshow.name %></h4>
                    </div>
                    <p>
                       <a href="/Carshows/<%= Carshow._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
